div{
    height: 100px;
    width: 100px;
    background: cadetblue;
    border: black 1px soild;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px; 
        
}
#caja1{
    width: 100%;
}

#caja2{
    width: 100cm;
}
#cajacontenedora, #caja3{
    width: 100px;
    margin: 0px;
}
#caja3{
    width:28%;
    background: cyan;
}