@media screen and (max-width: 780px){
    #logo {
        display: none;
         
     }
 
     #mobile {
        display: block; 
     }
 
     .navbar_container-links a,
     .navbar_container-links div {
         display: none;
     }

     
}


  @media screen and (max-width: 600px) {
    .contenedor {
      flex-direction: column;
      
    }
  
    .contenedor-imagenes {
      order: 2; 
    }
  
    .contenedor-textos {
      order: 1; 
    }
  }
  
  .contenedor-titulo-medio {
    text-align: center;
    margin-bottom: 20px;
  }
  
    
  #miniForm {
    margin-top: 20px;
  }
  
  #nombreForm,
  #emailform,
  #botonregistro {
    width: 100%; 
    margin-bottom: 10px; 
  }
  

    



    

    

    


    
