@media screen and (max-width: 780px){
    #logo {
       display: none;
        
    }

    #mobile {
       display: block; 
    }

    .navbar_container-links a,
    .navbar_container-links div {
        display: none;
    }

}
    
