@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}



.navbar_header {
  height: 83px;
  width: 100%;
  padding: 0 60px;
  position: fixed;
  z-index: 50;
  top: 0;
  border-bottom: solid 3px white;
  color: white;
  background-color: #0005 ;


}
.navbar_header .navbar_nav a {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-family-lato);
  font-size: 18px;
 
}

.navbar_header .navbar_nav a .navbar_logo {
  height: fit-content;
  width: fit-content;
 
}

#mobile {
  height: 50px;
  width: 50px;
  display: none;
}
.navbar_header .navbar_nav {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_header .navbar_container-links {

  height: fit-content;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 30px;
}

.navbar_header .navbar_container-links a {
  text-decoration: none;
  color: white;
  font-family: var(--font-family-lato);
  font-size: 18px;  
}

.bar {
  width: 2px;
  background-color: white;
  height: 16px;
}

.large {
  height: 32px;
}

.navbar_header .navbar_container-links .active {
  color: darkgray;
}

main img  {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  
}

.social_one_vertical {
  position: absolute;
  top: 35%;
  left: 20px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap:10px;
}

.social_one_vertical p {
  display: inline-block;
  width: 100%;
  height: auto;
  transform: rotate(450deg);
  color: darkgray;
  font-size: large;
  font-weight: bold;
  font-family: Arial;
}

.social_one_vertical .line-vertical{
  height: 45px;
  transform: rotate(90);
  margin-top: 20px;
  border-left: 2px solid darkgray;
  display: inline-block;
}

.social_one_vertical .social{
  height: 18px;
  width: 20px;
  cursor: pointer;
  padding: 2px;
}

.social-luxury{
  position: absolute;
  width: 100%;
  left: 120px;
  top: 60%;
  color: darkgray;
  font-size: xx-large;
  font-weight: bold;
}

.social-real-estate{
  position: absolute;
  width: 100%;
  left: 110px;
  top: 65%;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}


.social-transparent-button {
  position: absolute;
  top: 75%;
  left: 110px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  background: url('../img/arrow-right.png') no-repeat left; 
  background-size: 25px; 
}

.social-lupa {
  position: absolute;
  top: 20%;
  left: 1100px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center; 
  background: url('../img/Group 241.png') no-repeat right; 
  background-size: 20px; 
  cursor: pointer;
  right: 2px;
}


.social-image-container {
  position: relative;
}

.social-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.social-overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.contenedor1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

.contenedor-imagenes {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: hidden;
  gap: 10px;
}

.imagenes {
  grid-column: span 5;

}
.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  grid-column: 2;
}

html {
  font-family: Play;
}




