@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}



.navbar_header {
  height: 83px;
  width: 100%;
  padding: 0 60px;
  position: fixed;
  z-index: 50;
  top: 0;
  border-bottom: solid 3px white;
  color: white;
  background-color: #0005 ;


}
.navbar_header .navbar_nav a {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-family-lato);
  font-size: 18px;
 
}

.navbar_header .navbar_nav a .navbar_logo {
  height: fit-content;
  width: fit-content;
 
}

#mobile {
  height: 50px;
  width: 50px;
  display: none;
}
.navbar_header .navbar_nav {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_header .navbar_container-links {

  height: fit-content;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 30px;
}

.navbar_header .navbar_container-links a {
  text-decoration: none;
  color: white;
  font-family: var(--font-family-lato);
  font-size: 18px;
  
}

.bar {
  width: 2px;
  background-color: white;
  height: 16px;
}

.large {
  height: 32px;
}

.active {
  color: grey;
}

main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.social_one {
  position: absolute;
  z-index: 999;
  left: 20px;

  display: flex;
  flex-direction: column;
}

.social_one p {
  transform: rotate(90);
}

