
:root{
    --color-black: #181A18;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/*start: Navbar */

.navbar_header {
   height: 83px;
   width: 100%;
   background-color: black;
   padding: 0 60px;
   position: static;
   top: 0;
}

.navbar_header .navbar_nav  {
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    align-items: center;
 }

 .navbar_header .navbar_container-links {
    background-color: grey;
    height: fit-content;
 }

 .navbar_header .navbar_container-links{
    text-decoration: none;
    color:c
 }

 
/* End: Navbar */
